.product-details-container{
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.product-details{
  padding: 50px 60px 90px 60px;
}

.product-details-name{
  margin-top: 35px;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.015em;
}

.product-details-goback{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.icon-goback{
  transform: rotate(180deg);
  color: #407BFF;
  margin-right: 30px;
}

.text-goback{
  font-size: 24px;
  text-align: left;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  color: #263238;
}

.product-details-card{
  border: 1px solid #E1E1E1;
  border-radius: 20px;
  padding: 40px 30px;
}

.product-details-image{
  width: 353px;
  height: 353px;
}

.product-description-title{
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #9E9E9E;
  margin-bottom: 25px;
}

.product-description-text{
  font-size: 18px;
  letter-spacing: -0.015em;
  line-height: 25px;
  color: #9E9E9E;
}

.product-details .product-price{
  font-size: 48px;
}

.product-details .product-currency{
  font-size: 28px;
}